﻿@model Atoz.Web.Models.ViewModels.ResourceDetailsViewModel

<div class="navbar navbar-default col-sm-3">
    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown"> 
                <a href="#" data-toggle="dropdown"> Wybierz potrzebny zasób <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @foreach (var project in Model.RequiredRecourses.Projects)
                    {
                        <li class="dropdown-submenu"> 
                            <a href="#" data-toggle="dropdown"> @project.Title</a>
                            <ul class="dropdown-menu">
                                @foreach (var resource in project.RequiredResources)
                                {
                                    <li>
                                        <a href="#" tabindex="-1" class="nocss-requested-resource" data-url="@Url.Action("Request", "Connect", new {r = resource.Id, s = Model.Id})"="@resource.Id">@resource.Description</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>