﻿<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script type="text/javascript">
    // https://www.tinymce.com/docs/
    tinymce.init({
        selector: '.html-editor',
        encoding: 'xml',
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools"
        ],
        toolbar1: "undo redo | pastetext | styleselect fontselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
        toolbar2: "link image | preview media | forecolor backcolor emoticons",
        setup: function (ed) {
            ed.on('init', function () {
                this.execCommand("fontSize", false, "20px");
            });
        }
    });
</script>