﻿@model Atoz.Web.Models.ViewModels.LikeDislikeViewModel

<style>
    .red {
        color: red;
    }
    .glyphicon {
        font-size: 20px;
    }
    .like {
        font-size: 20px;
    }
    .dislike {
        font-size: 20px;
    }
</style>

<script>
    $(document).ready(function() {
        $('button.like').click(function() {
            var url = $(this).attr('dataUrl');
            $.ajax({
                data: {
                    id: @Model.ProjectId
                },
                type: "POST",
                url: url,
                success: function() {
                    location.reload();
                }
            });

        });
    });
</script>
<button class="btn like @(Model.HasUserAlreadyLiked? "red" : string.Empty)" @(Model.HasUserAlreadyLiked? "disabled" : string.Empty)  dataUrl="@Url.Action("Like", "Projects", new {id = Model.ProjectId})">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> @Model.LikeCount
</button>

<script>
    $(document).ready(function() {
        $('button.dislike').click(function() {
            var url = $(this).attr('dataUrl');
            $.ajax({
                data: {
                    id: @Model.ProjectId
                },
                type: "POST",
                url: url,
                success: function() {
                    location.reload();
                }
            });

        });
    });
</script>
<button class="btn dislike @(Model.HasUserAlreadyDisliked? "red" : string.Empty)" @(Model.HasUserAlreadyDisliked ? "disabled" : string.Empty) dataUrl="@Url.Action("Dislike", "Projects", new { id = Model.ProjectId })">
    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> @Model.DislikeCount
</button>