﻿@using Atoz.Web.Repositories
@model Atoz.Web.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A...Z</h1>
    <p class="lead">Portal gdzie łączymy ludzi z pomysłem z materiałem. Chęci z możliwościami. Gdzie drzwi stają otworem przed każdym.</p>
</div>
<div class="row">
    <h1>
        <p class="lead">Zobacz co się u nas dzieje.</p>
    </h1>
</div>
<div class="row">
    @foreach (var project in Model.Projects)
    {
        <div class="col-md-4">
            <h2>
                @Html.ActionLink(project.Title, "Details", "Projects", new { id = project.Id }, null)
            </h2>
            <p>
                @Html.Raw(HttpUtility.HtmlDecode(project.Description))
            </p>
            <p>
                @Html.ActionLink("szczegóły", "Details", "Projects", new { id = project.Id }, new { @class = "btn btn-default pull-right" })
            </p>
        </div>
    }
</div>
