﻿@model Atoz.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Użyj logowania przez aplikację facebook</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Na razie nie są dostępne żadne serwisy do logowania
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Zaloguj się używając swojego konta @p.Caption ">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
