﻿@model Atoz.Web.Models.ViewModels.ResourceCreateViewModel

@{
    ViewBag.Title = "Dodaj zasób";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            @using (Html.BeginForm())
            {
                <div class="row">
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new {@class= "html-editor" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Amount)
                    @Html.TextBoxFor(m => m.Amount, new {@class="form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Tags)
                    @Html.TextBoxFor(m => m.Tags, new { id = "tags" })
                </div>
                <button type="submit" class="btn btn-default">Submit</button>

                @Html.Partial("TagitPartial")
                @Html.Partial("HtmlEditorPartial")
            }
        </div>
    </div>
</div>
