﻿@model Atoz.Web.Models.ViewModels.ResourceDetailsViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<div class="container">
    <div class="row">
        <h1 class="text-center">@Model.Name</h1>
        <h3 class="text-right">Ilość: @Model.Amount</h3>
        <h5 class="text-right">@Model.Created</h5>
        <h6 class="text-right">@Model.Modified</h6>
        <div class="text-right">
            @foreach (string tag in Model.Tags)
            {
                <a href="@Url.Action( "DetailsResource", "Tags", new { tag })">
                    <span class="label label-pill label-primary">@tag</span>
                </a>
            }
        </div>
        <br/>
        <div class="well description">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
        </div>

    </div>
    <div class="row">
        @if (Model.IsOwner)
        {
            @Html.ActionLink("Edytuj", "Edit", "Resources", new { id = Model.Id }, new { @class = "btn btn-danger disabled" })
        }
        else 
        {
            @Html.Partial("_DropdownInception", Model)
        }
    </div>
   @* <div class="row">
        <div class="pull-right">
            @Html.BeginForm("", "Resources", FormMethod.Post)
            {
                @Html.HiddenFor(m => m.Id)
                <button class="btn primary" type="submit">Chcę</button>   
            }
        </div>
    </div>*@
    <div class="row">
        <div class="fb-comments" style="width:100%;" data-href="@Request.Url.AbsoluteUri" data-numposts="5"></div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        
        var onSuccessSponsor = function(r, s){}
        var onErrorSponsor = function (r, s) { }

        var onRequestorClick = function (e) {

            if (!confirm("Czy przyda się ten zasób?")) {
                return;
            }

            e.preventDefault();
            var button = $(e.currentTarget);
            var url = button.data("url");

            var ajaxOptions= {
                method: "POST",
                url: url,
                success: onSuccessSponsor,
                error:onErrorSponsor
            }

            $.ajax(ajaxOptions);
        }

        $(document).ready(function () {
            $(".nocss-requested-resource").on("click", onRequestorClick);
        });
    </script>
}