﻿@model Atoz.Web.Models.ViewModels.ResourceIndexViewModel

@{
    ViewBag.Title = "Zasoby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1 class="text-center">Dostępne zasoby</h1>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <tr>
                <th>Nazwa zasobu</th>
            </tr>
            @foreach (var resource in Model.Resources)
            {
                <tr>
                    <td class="col-sm-12">
                        <div>@Html.ActionLink(resource.Name, "Details", "Resources", new { id = resource.Id }, null)</div>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>