﻿@model List<Atoz.Web.Models.ViewModels.MyProjectActionViewModel>
@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('.accept-resource').click(function () {
                var url = $(this).attr('dataUrl');
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function () {
                        location.reload();
                    }
                });

            });
        });
    </script>
}
@if (Model.Any())
{
    <h2>Projekty z zasobami do zaakceptowania</h2>

    foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Projekt: @item.ProjectName</div>
            <div class="panel-body">
                @if (item.ResourceDetails.Any())
                {
                    <ul class="list-group">
                        @foreach (var resource in item.ResourceDetails)
                        {
                            <li class="list-group-item">
                                Zasób: @resource.Name
                                @foreach (var availableResource in resource.ResourceModel)
                                {
                                    <button class="btn btn-danger accept-resource" dataUrl="@Url.Action("Accept", "Connect", new { r = resource.Id, s = availableResource.Id })">@availableResource.Name</button>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
}
else
{
    <div>
        Brak projektów
    </div>
}