﻿@model List<Atoz.Web.Models.ViewModels.MyResourceActionViewModel>
@{
    ViewBag.Title = "OfferResource";
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('.accept-resource').click(function () {
                var url = $(this).attr('dataUrl');
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function () {
                        location.reload();
                    }
                });

            });
        });
    </script>
}
@if (Model.Any())
{
    <h2>Zasoby z projektami do zaakceptowania</h2>

    foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Zasób: @item.ResourceName</div>
            <div class="panel-body">
                @if (item.ProjectDetails.Any())
                {
                    <ul class="list-group">
                        @foreach (var resource in item.ProjectDetails)
                        {
                            <li class="list-group-item">
                                Projekct: @resource.ProjectName
                                <br />
                                Żądany zasób w projekcie: @resource.ResourceName
                                <button class="btn btn-danger accept-resource" dataUrl="@Url.Action("Accept", "Connect", new { s = resource.ResourceId, r = item.ResourceId })">Zatwierdź</button>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
}
else
{
    <div>
        Brak zasobów
    </div>
}