﻿@model Atoz.Web.Models.ViewModels.ProjectCreateViewModel

@{
    ViewBag.Title = "Stwórz projekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new {@class = "html-editor" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Tags)
                    @Html.TextBoxFor(m => m.Tags, new {id = "tags"})
                </div>

                <div class="form-group">
                    @Html.EditorFor(m => m.RequiredResources)
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>

                @Html.Partial("TagitPartial")
                @Html.Partial("HtmlEditorPartial")
            }
        </div>
    </div>
</div>