﻿@model Atoz.Web.Models.ViewModels.ProjectDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.IsOwner && Model.RequirementsFulfilled)
    {
        <div class="alert alert-success">
            <div class="text-center" style="font-size: 25px;">
                <strong>Super, można rozpoczynać projekt!!!</strong>  <i class="glyphicon glyphicon-heart"></i>
            </div>
        </div>
    }
    <div class="row">
        <h1 class="text-center">@Model.Title</h1>
        <h4 class="text-right">@Model.Authorname</h4>
        <h5 class="text-right">@Model.Created</h5>
        <div class="row">
            <div class="pull-right">
                @Html.Partial("LikeDislikePartial", Model.LikeDislike)
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="text-right">
                @foreach (string tag in Model.Tags)
                {
                    <a href="@Url.Action("DetailsProject", "Tags", new { tag })">
                        <span class="label label-pill label-primary">@tag</span>
                    </a>
                }
            </div>
        </div>
        <br />
        <div class="well description">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
        </div>

        @foreach (var requiredResource in Model.RequiredResources)
        {
        <div class="row">
            <div class="col-sm-5 col-sm-offset-2">@requiredResource.Description</div>
            <div class="col-sm-1">@requiredResource.Amount</div>
            <div class="col-sm-2 text-center">
                @if (requiredResource.Accepted)
                {
                    <i class="glyphicon glyphicon-ok"></i>
                }
                else if (Model.CurrentUserAvailableResources.Count > 0)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var r in Model.CurrentUserAvailableResources)
                            {
                                <li>
                                    <a href="#"
                                        data-url="@Url.Action("Sponsor", "Connect", new {r = requiredResource.Id, s = r.Id})"
                                        class="nocss-sponsor-resource">@r.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <button type="button" class="disabled btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                }
                
            </div>
        </div>
        }

        <br />
    </div>
    <div class="row">
        <a id="share_button" href="javascript:void(0)" style="display: inline-block; text-decoration: none;">
            <img src="~/Content/share.png" alt="udostępnij" />
        </a>
        <div class="fb-like" data-href="@Request.Url.AbsoluteUri" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>

    <div class="row">
        <div class="fb-comments" style="width: 100%;" data-href="@Request.Url.AbsoluteUri" data-numposts="5"></div>
    </div>
</div>




@section scripts
    {
    <script type="text/javascript">

        var onSuccessSponsor = function (r, s) { }
        var onErrorSponsor = function (r, s) { }

        var onSponsorClick = function (e) {

            if (!confirm("Czy chcesz zostać sponsorem?")) {
                return;
            }

            e.preventDefault();
            var button = $(e.currentTarget);
            var url = button.data("url");

            var ajaxOptions = {
                method: "POST",
                url: url,
                success: onSuccessSponsor,
                error: onErrorSponsor
            }

            $.ajax(ajaxOptions);
        }

        $(document).ready(function () {
            $(".nocss-sponsor-resource").on("click", onSponsorClick);
            $('#share_button').click(function (e) {
                e.preventDefault();
                FB.ui(
                {
                    method: 'feed',
                    name: '@Model.Title',
                    link: ' @Request.Url.AbsoluteUri',
                    description: '@Model.ShortFacebookDescription',
                    message: ''
                });
            });
        });
    </script>
}