﻿@model Atoz.Web.Models.ViewModels.ProjectsIndexViewModel

@{
    ViewBag.Title = "Twoje projekty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1 class="text-center">Dostępne projekty</h1>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <tr>
                <th>Postęp prac</th>
                <th>Nazwa projektu</th>
            </tr>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td class="col-sm-1">
                        @for (int i = 0; i < project.AcceptedRequirementsCount; i++)
                        {
                            <i class="glyphicon glyphicon-star"></i>
                        }
                        @for (int i = 0; i < project.NotAcceptedRequirementsCount; i++)
                        {
                            <i class="glyphicon glyphicon-star-empty"></i>
                        }
                    </td>
                    <td class="col-sm-11">
                        @Html.ActionLink(project.Title, "Details", "Projects", new { id = project.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>