﻿@using Atoz.Web.Repositories
@model Atoz.Web.Controllers.ProjectsSearchViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="text-center">Wyszukaj projektu!</h1>
    <div class="row">
        @using (Html.BeginForm())
            {
            <div class="form-group">
                @Html.TextBoxFor(m => m.ProjectTags, new { id = "tags" })
                <button type="submit" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Search
                </button>
            </div>

            @Html.Partial("TagitPartial")
        }
    </div>

    <div class="row">
        <ul>
            @foreach (ProjectTitle pt in Model.SearchProjects)
            {
                <li>@Html.ActionLink(pt.Title, "Details", "Projects", new { id = pt.Id }, null)</li>
            }
        </ul>
    </div>
</div>