﻿@model Atoz.Web.Models.DTOs.RequiredResourcesDto

<div class="col-sm-10">
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
</div>
<div class="col-sm-2">
    @Html.LabelFor(m => m.Amount)
    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
</div>
