﻿@using Atoz.Web.Repositories
@model Atoz.Web.Models.ViewModels.ResourcesByTagViewModel

@{
    ViewBag.Title = Model.Tag;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-center">@Model.Tag</h1>
    <ul>
        @foreach (ResourceName pt in Model.Resources)
        {
            <li>@Html.ActionLink(pt.Name, "Details", "Resources", new { id = pt.Id }, null)</li>
        }
    </ul>
</div>