﻿@using Atoz.Web.Repositories
@model Atoz.Web.Models.ViewModels.ProjectsByTagViewModel

@{
    ViewBag.Title = Model.Tag;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-center">@Model.Tag</h1>
    <ul>
        @foreach (ProjectTitle pt in Model.Projects)
        {
            <li>@Html.ActionLink(pt.Title, "Details", "Projects", new { id = pt.Id }, null)</li>
        }
    </ul>
</div>