﻿@model Atoz.Web.Models.ViewModels.TagsIndexViewModel

@{
    ViewBag.Title = "Top tagi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewBag.Title</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ol>
                @for (int i = 0; i < Model.TopTags.ProjectTags.Count; i++)
                {
                    int size = 14 + Model.TopTags.ProjectTags.Count - i;
                    <li style="@string.Format("font-size:{0}px;", size)">@Html.ActionLink(Model.TopTags.ProjectTags[i], "DetailsProject", new {tag = Model.TopTags.ProjectTags[i]}, new {style = string.Format("font-size:{0}px;", size)})</li>
                }
            </ol>
        </div>
        <div class="col-sm-6">
            <ol>
                @for (int i = 0; i < Model.TopTags.ResourceTags.Count; i++)
                {
                    int size = 14 + Model.TopTags.ResourceTags.Count - i;
                    <li style="@string.Format("font-size:{0}px;", size)">@Html.ActionLink(Model.TopTags.ResourceTags[i], "DetailsResource", new { tag = Model.TopTags.ResourceTags[i] }, new { style = string.Format("font-size:{0}px;", size) })</li>
                }
            </ol>
        </div>
    </div>
</div>